@import "tailwindcss";

body {
	font-family: Merriweather;
}
.font-urdu {
	font-family: "Noto Nastaliq Urdu", serif;
}
html {
	scroll-behavior: smooth;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
	width: 5px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: #49494827;
}

::-webkit-scrollbar-thumb {
	background: #16181b;
	border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
	background: #1f2937;
}
